
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }


  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 300px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .cardbutton {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: rgb(54, 120, 219);
    height: 40px;
    width: 400px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    align-self: center;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }
</style>    
    
<div class="content" role="main">
  <mat-card>
       <h1 style="font-weight: bolder; font-size: 40px;"><mat-icon style="font-size: 65px; align-self: center;" >connect_without_contact</mat-icon><br>Link Up!</h1> 
        <form #linkaccountform="ngForm" style="align-self: center;"  (ngSubmit)="linkaccount(linkaccountform)">
            <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Email is invalid</div>
          <br>
          <label> First Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> 
          <mat-form-field [style.width.px]=360 >
            <input matInput id="email" type="email" name="myemail" size="40" #email="ngModel" [(ngModel)]="myemail" required email />
            <br><br>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="secondemail.touched && !secondemail.valid">Email is invalid</div>
          <br>
          <label>Second Email : &nbsp;</label>
          <mat-form-field [style.width.px]=360>
            <input matInput type="email" name="friendemail" #secondemail="ngModel" size="40" [(ngModel)]="friendemail" required email/><br><br>
          </mat-form-field>
          <button  [disabled]=" !linkaccountform.valid" class="cardbutton" type="submit" variant="primary" style="color: white"> Link Account<mat-icon>chevron_right</mat-icon></button>
        </form>
  </mat-card>
  <simple-notifications></simple-notifications>
</div>
