.full-width-table {
  width: 1400px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  color: rgb(88, 88, 88);
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

p{
    color: black;
}

input.mat-input-element {
  color: white;
}

.mat-form-field-underline {
  background-color: rgb(116, 116, 116) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(119, 119, 119) !important;
} 

    ::ng-deep .mat-input-wrapper{
      width:400px !important;
    }

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: grey;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgb(93, 93, 93);
  border-radius: 5px;
}

mat-card{
    background-color: rgb(255, 255, 255);
    color: rgb(88, 88, 88);
    width:1400px;
    height: fit-content;
    margin-top: 160px;
    align-content: center;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;    
  }

p{
    color: black;
}
  
mat-icon{
  vertical-align: middle;
}

.cardbutton {
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(54, 120, 219);
  height: 40px;
  width: 120px;
  margin: 0 8px 16px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  display:table-row;
}

.cardbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.cardbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.cardbutton:hover span {
  padding-right: 25px;
}

.cardbutton:hover span:after {
  opacity: 1;
  right: 0;
}

#outer
{
    text-align: center;
}

.inner
{
    display: inline-block;
}

